@charset "utf-8";
#ssbbcmodal-table { 
	margin-top:40px;
	margin-left: 50px;
	width: 400px;
}
#ssbbcmodal-table select { 
	width:170px; 
} 
#ssbbcmodal-table td { 
	padding-left:70px; 
} 
.ssbbc-modal-instructions {
    color: #777777;
    float: left;
    font-size: 9px;
    font-style: italic;
    line-height: 10px;
    margin-left: -85px;
    margin-top: 5px;
    text-align: right;
    text-transform: uppercase;
    width: 80px;
}
#ssbbc-shortcode {
	display:none;
	width:95%;
	margin: 25px auto 0!important;
    padding: 10px;
    text-align: center;
    font-size: 13px;
	background:#d5d2d0;
}
#browserbodyclasses-mb h3:before {
	content:url("../images/bbc_banner.png");
}
#browserbodyclasses-mb h3 {
	padding-left:7px!important;
	background:none!important;	
	color:transparent!important;
	font-size:0.1px!important;
	line-height:25px!important;
	margin-top:10px!important;
	border-bottom:0!important;
	border-bottom-color:transparent!important;
	box-shadow:0 0 0 transparent!important;
	text-shadow:0 0 0 transparent!important;
}
#browserbodyclasses-mb h3:hover, #browserbodyclasses-mb h3:active {
	cursor:pointer!important;
}
#browserbodyclasses-mb h3 span {
    color: transparent;
}
#browserbodyclasses-mb h4 {
	margin-bottom:3px!important;
    color: #444444;
    font-family: "Trebuchet MS","Arial","Sans-Serif";
	font-size:11px;
	font-style:italic;
	text-transform:uppercase;
	margin-left:3px;
}
h4.ssbbc-options-headings {
	margin-top:0!important;
	text-align:right;
    color: #444444;
    font-family: "Trebuchet MS","Arial","Sans-Serif";
	font-size:11px;
	font-style:italic;
	text-transform:uppercase;
}
#browserbodyclasses-mb .handlediv {
	margin-top:6px!important;
}
#browserbodyclasses-mb select {
	margin:0!important;
	font-size:13px!important;
}
#ssbbc_create_table {
	width:100%;
}
#ssbbc_create_table td, #create_table th {
	margin-bottom: 0;
    margin-top: 0;
	padding: 0 20px 10px 0; 
}
.browserbodyclasses-column {
	display:inline-block!important;
	vertical-align:top!important;
	width:45%!important;
}
.browserbodyclasses-column0 {
    line-height: 12px;
    margin-bottom: 0;
    padding-right: 0;
    text-transform: uppercase;
}
.browserbodyclasses-column1 {
	float:left;	
	display:inline-block!important;
	width:45%!important;
}
.browserbodyclasses-column2 {
	float:right;
	display:inline-block!important;
	width:45%!important;
}
div.ssbbc-inner-div {
	width:45%;
	margin:0 auto!important;
}
#browserbodyclasses-mb {
	border-width:5px;
	border-radius:0;
	border-color:#cfcac5!important;
	background:transparent!important;
	padding: 0px 10px 15px;
}
.selectItbrowser {
    -moz-box-shadow: 0px 1px 3px 0px #1c1b18;
    -webkit-box-shadow: 0px 1px 3px 0px #1c1b18;
    box-shadow: 0px 1px 3px 0px #1c1b18;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d5d2d0), color-stop(1, #cfcac5));
    background:-moz-linear-gradient(top, #d5d2d0 5%, #cfcac5 100%);
    background:-webkit-linear-gradient(top, #d5d2d0 5%, #cfcac5 100%);
    background:-o-linear-gradient(top, #d5d2d0 5%, #cfcac5 100%);
    background:-ms-linear-gradient(top, #d5d2d0 5%, #cfcac5 100%);
    background:linear-gradient(to bottom, #d5d2d0 5%, #cfcac5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d2d0', endColorstr='#cfcac5',GradientType=0); 
    background-color:#d5d2d0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;       
    border:1px solid #777777;        
    display:inline-block;
    color:#444444;
    font-family:Trebuchet MS;
    font-size:13px;
    font-weight:normal;
 	padding: 2px 0;
    text-align: center;
    text-decoration: none;
    width: 145px;
}
.selectItbrowser:hover {       
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cfcac5), color-stop(1, #d5d2d0));
    background:-moz-linear-gradient(top, #cfcac5 5%, #d5d2d0 100%);
    background:-webkit-linear-gradient(top, #cfcac5 5%, #d5d2d0 100%);
    background:-o-linear-gradient(top, #cfcac5 5%, #d5d2d0 100%);
    background:-ms-linear-gradient(top, #cfcac5 5%, #d5d2d0 100%);
    background:linear-gradient(to bottom, #cfcac5 5%, #d5d2d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcac5', endColorstr='#d5d2d0',GradientType=0);    
    background-color:#cfcac5;
	cursor:pointer;
    color:#444444!important;
}
.selectItbrowser:focus, .selectItbrowser:active {
    position:relative;
    top:1px;
	outline:none!important;
    color:#444444!important;
}
.ssbc-config-options {
	margin-top:-80px;
	float:right;
	font-size:9px!important;
}
.ssbbc-metabox-instructions {
	color: #777777;
    font-size: 10px;
    line-height: 12px;
    padding-right: 0;
    text-transform: uppercase;	
	width:100px;
}
h2.browserbodyclasses-header {   
	color: #666666;
    font-family: "trebuchet ms","arial","sans-serif";
    margin-top: 15px;
    text-transform: uppercase;
	font-size:22px!important;
}
.ssbbc-form-table th {
	width:170px!important;
}
div.ssbbc-option-description {
    color: #888888;
    font-size: 10px;
    line-height: 13px;
    margin-left: 6px;
    margin-top: 10px;
    text-transform: uppercase;
}
.ssbbc-options-wrap {
	margin-right:420px!important;
}
.ssbbc-options-wrap div.updated, .ssbbc-options-wrap div.error {
    background-color: #CFCAC5!important;
    border-color: #444444!important;
    float: left;
    width: 400px;
}
.ssbbc-support-review {
	position:relative;
	top:55px;
	text-transform:uppercase;
}
div.ssbbc-plugins {
	background-color: #FFFFFF !important;
	border-left: 3px solid #7d7c79;
	border-bottom: 3px solid #7d7c79;
	width:390px;
 	height: 330px;
    padding-left: 15px;
	padding-top: 15px;
    position: absolute;
    right: 0;
    top: 0;
}
body.settings_page_browser-body-classes-with-shortcodes-browser-body-classes-with-shortcodes,
body.settings_page_browser-body-classes-with-shortcodes-browser-body-classes-with-shortcodes #wpwrap {
	background: #f7f7f7!important;
}
body.settings_page_browser-body-classes-with-shortcodes-browser-body-classes-with-shortcodes #wpfooter {
	display:none!important;
}